:root {
    --dark-color: #171818;
    --primary-color: #C1F9FF;
    --secondary-color: #3EA6B1;
    --tertiary-color: #15383C;
    --light-color: #e3ece6;
    --aux-color:#15383C;
    --dropdown-color:#171818a8;
    --skills-color:#6ba5a2;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Afacad", sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 1.8rem;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #6da0a3; /* Cor de fundo */
    z-index: -1; /* Para ficar atrás do conteúdo */
  }
  

/* navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed; /* Fixar no topo */
    top: 0;
    left: 0;
    width: 100%; /* Ocupar toda a largura */
    z-index: 1000; /* Garante que fique acima de outros elementos */

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-container a{
    font-weight: bold;
}

.hamburguer {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburguer .line {
    width: 25px;
    height: 3px;
    background-color: var(--tertiary-color);
    transition: all 0.3s ease;
}

.hamburguer.active .line:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 9px;
   

}

.hamburguer.active .line:nth-child(2) {
    opacity: 0;
}

.hamburguer.active .line:nth-child(3) {

    transform: rotate(-45deg);
    position: relative;
    top: -6px;
}

.logo img {
    width: 60px;
}

.options {
    display: flex;
    align-items: center;
    gap: 50px;
}

.idiomas {
    position: relative;
    display: inline-block;
}

.idiomas-content {
    display: none;
    position: absolute;
    background-color: #171818a8;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.idiomas-content a {
    font-size: 1rem;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.idiomas-content a:hover {
    background-color: #797979;
}

.idiomas:hover .idiomas-content {
    display: block;
}
#language-button::after {
    content: " ▼"; 
    font-size: 0.8rem; 
    margin-left: 5px; 
    display: inline-block;
}

/* To hide the checkbox */
#checkboxInput {
    display: none;
  }
  
.toggleSwitch {
display: flex;
align-items: center;
justify-content: center;
position: relative;
width: 50px;
height: 30px;
background-color: rgb(82, 82, 82);
border-radius: 20px;
cursor: pointer;
transition-duration: .2s;
}

.toggleSwitch::after {
content: "";
position: absolute;
height: 10px;
width: 10px;
left: 5px;
background-color: transparent;
border-radius: 50%;
transition-duration: .2s;
box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
border: 5px solid white;
}

#checkboxInput:checked+.toggleSwitch::after {
transform: translateX(100%);
transition-duration: .2s;
background-color: white;
}
/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
background-color: rgb(118, 234, 255);
transition-duration: .2s;
}
  


@media screen and (max-width: 800px) {
    
    .options{
        gap: 0;
        flex-direction: column-reverse;
    }
    .navbar-container {
        padding-left: 2px;
        padding-right: 0px;
        width: 90%;
    }


    .idiomas-content{
        position: absolute;
        top: 50px;
        right: -9px;

    }
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav-container {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-container.active {
        display: flex;
        position: absolute;
        background-color: #171818a8;
        top: 90px; 
        left: 5;
        width: 50%;
        padding: 0;
        margin: 0;
        border-radius: 5px;
    }

    .hamburguer {
        display: flex;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        width: 100%; 
        padding: 0;
        margin: 0; 
        padding-top: 20px;
        padding-bottom: 20px;
        row-gap: 30;
    }

    li {
        display: block;
        text-align: center;
        width: 100%; 
    }

    .nav-container.active ul li a {
        color: #C1F9FF;
        font-size: 1.4rem;
    }
    .idiomas-content a{
        color: #C1F9FF;
    }
}

/* hero */

.hero{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    height: calc(100vh - 20px);
    padding-bottom: 50px;
    padding-top: 60px;

}
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile img{
    width: 60%;
    max-width: 350px;
    border: 5px solid var(--aux-color);
    border-radius: 50%;
}
.profile h1{
    font-size: 2.5rem;
    margin: 1px;
    color: #C1F9FF;
}
.profile span{
    color: var(--aux-color);
}
.profile p{
    font-size: 1.4rem;
    width: 95%;
    max-width: 600px;
    text-align: justify;
    color: var(--tertiary-color);
    font-weight: 500;
    margin: 5px;
}

.profile-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
    flex: 1; /* Faz com que ambos os botões ocupem o mesmo espaço */
    background-color: var(--aux-color);
    color: var(--light-color);
    padding: 12px 20px;
    margin: 5px;
    text-align: center;
    max-width: 250px;
    font-size: 1.3rem;
    font-weight: bold;
}


.skills{
    display: flex;
    justify-content: center;
    min-height: fit-content;
    background-color: var(--skills-color);
    padding: 5px;
    padding-bottom: 60px;
    color: white;
}

.container {
    width: 95%;
    max-width: 1400px;
    margin: 20px auto;
}

.container h2{
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 500;
}

select {

    font-size: 1.5rem;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Afacad', sans-serif;
}

select option{
    background-color: #2b2b2b;
    border-radius: 0px;
    font-size: 1rem;
    width: fit-content;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
}
.grid-item {
    padding: 10px;
    height: 80px;
    background: #175861bd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container{
    width: 75%;
    color: white;
    padding-left: 10px;
    border-left: 1px solid #6ba5a2;
}
.skill-title{
    font-size: 1.5rem;
    font-size: bold;
}


@media screen and (max-width:600px){
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }
}