:root {
    --dark-color: #171818;
    --primary-color: #C1F9FF;
    --secondary-color: #3EA6B1;
    --tertiary-color: #15383C;
    --light-color: #E3EBEC;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Amazing Quirky", sans-serif;
    color: var(--primary-color);
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.8rem;
}

/* navbar */

.navbar {
    display: flex;
    background-color: var(--dark-color);
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 10px;
    position: relative;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
}

.hamburguer {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburguer .line {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

.hamburguer.active .line:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 6px;
}

.hamburguer.active .line:nth-child(2) {
    opacity: 0;
}

.hamburguer.active .line:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -6px;
}

.logo img {
    width: 60px;
}

.options {
    display: flex;
    align-items: center;
    gap: 50px;
}

.idiomas {
    position: relative;
    display: inline-block;
}

.idiomas-content {
    display: none;
    position: absolute;
    background-color: #171818a8;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.idiomas-content a {
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.idiomas-content a:hover {
    background-color: #797979;
}

.idiomas:hover .idiomas-content {
    display: block;
}
#language-button::after {
    content: " ▼"; 
    font-size: 0.8rem; 
    margin-left: 5px; 
    display: inline-block;
}



@media screen and (max-width: 800px) {
    .options{
        gap: 0;
        flex-direction: column-reverse;
    }

    .idiomas-content{
        position: absolute;
        top: 50px;
        right: -9px;

    }
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav-container {
        display: none;
        flex-direction: column;
        width: 100%; 
    }

    .nav-container.active {
        display: flex;
        position: absolute;
        top: 100px; 
        left: 0;
        width: 100%;
        background-color: var(--dark-color); 
        padding: 0;
        margin: 0;
    }

    .hamburguer {
        display: flex;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        width: 100%; 
        padding: 0;
        margin: 0; 
        padding-top: 40px;
        padding-bottom: 40px;
    }

    li {
        display: block;
        text-align: center;
        width: 100%; 
    }
}

/* hero */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    min-height: fit-content;
    height: calc(100vh - 100px);

}
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile img{
    width: 60%;
    max-width: 500px;
    border: 5px solid var(--primary-color);
    border-radius: 50%;
}
.profile h1{
    font-size: 3rem;
    margin: 10px;
    color: var(--light-color);
}
.profile span{
    color: var(--secondary-color);
}
.profile p{
    width: 90%;
    max-width: 500px;
    text-align: justify;
}

.profile-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
    flex: 1; /* Faz com que ambos os botões ocupem o mesmo espaço */
    background-color: var(--secondary-color);
    color: var(--dark-color);
    padding: 12px 24px;
    margin: 5px;
    text-align: center;
    max-width: 200px;
}
